@using SERP.Entities
@model UsersResultModelView

    @{
    Layout = "_Layout";
    }
<h2 class="text-white" style="margin-bottom:1.2em">@Model.Me</h2>
<section>

    <!-- Gird column -->
    <div class="card card-cascade narrower z-depth-0 dark-card-admin text-white">

        <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center white black lighten-4">

            <div>
            </div>

            <h4 class="white-text mx-3">Результаты работ</h4>

            <div>
            </div>

        </div>
        <div class="px-4">
            <div class="table-responsive">
                <table id="dtMaterialDesignExample" class="table table-hover mb-0 text-white mw-100" style="color:white" cellspacing="0">
                    <thead class="text-light bg-dark">
                        <tr>
                            <th class="th-sm">
                                Дата <i class="fas fa-sort ml-1 text-white"></i>
                            </th>
                            <th class="th-sm">
                                Время <i class="fas fa-sort ml-1 text-white"></i>
                            </th>
                            <th class="th-sm">
                                Методика <i class="fas fa-sort ml-1 text-white"></i>
                            </th>
                            <th class="th-sm">
                                Количество измерений <i class="fas fa-sort ml-1 text-white"></i>
                            </th>
                            <th class="th-sm">
                                Результат <i class="fas fa-sort ml-1 text-white"></i>
                            </th>
                            <th class="th-sm">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var result in Model.Results) {
                        <tr>
                            <td>@result.Date</td>
                            <td>@result.Time</td>
                            <td>@result.ResultType</td>
                            <td>@result.Count</td>
                            <td>@result.Result</td>
                            <td><a href="/user/result/@result.Id" class="text-primary">Скачать</a></td>
                        </tr>
                        }
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
        <div style="margin-bottom:15px"></div>
    </div>

</section>


    @section customScripts{
<script src="~/js/addons/datatables.min.js"></script>
<script src="~/js/addons/datatables-select.min.js"></script>
<script>
    $(document).ready(function () {
        $(document).ready(function () {
            $('#dtMaterialDesignExample').DataTable();
            $('#dtMaterialDesignExample_wrapper').find('label').each(function () {
                $('#dtMaterialDesignExample_length').remove();
                $(this).parent().append($(this).children());
            });
            $('#dtMaterialDesignExample_wrapper .dataTables_filter').find('input').each(function () {
                $('input').attr("placeholder", "Search");
                $('input').removeClass('form-control-sm');
            });
            $('#dtMaterialDesignExample_wrapper .dataTables_filter').addClass('md-form');
            $('#dtMaterialDesignExample_wrapper select').removeClass(
                'custom-select custom-select-sm form-control form-control-sm');
            $('#dtMaterialDesignExample_wrapper select').addClass('mdb-select');
            $('#dtMaterialDesignExample_wrapper .mdb-select').materialSelect();
            $('#dtMaterialDesignExample_wrapper .dataTables_filter').find('label').remove();
            $('#dtMaterialDesignExample_paginate').addClass("text-white");

        });
    });
</script>
    }
